asgiref==3.2.7
constantly==15.1.0
Django==3.0.6
django-js-asset==1.2.2
django-mptt==0.11.0
incremental==17.5.0
ngrok==0.0.1
Pillow==7.1.2
psycopg2==2.8.5
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pytz==2020.1
sqlparse==0.3.1
w3lib==1.21.0
dateparser>=0.7.4
pytest>=5.4.2