{% extends "movies/base.html" %}

{% block title %}Search Movies{% endblock %}

{% block content %}
    <!-- slider фильмы главная  -->
    <section class="container-fluid px-0" style="margin-top: 5rem;" >
             <div class="slider center">
                 {% for index_slider_movie in index_slider_movies %}
                    <div class="slider-card">
                     <div class="movie_card">
                      <div class="info_section">
                          <div class="info-content">
                            <div class="movie_header">
                              <img class="locandina d-none d-sm-block" src="{{ index_slider_movie.poster.url }}" alt="{{ index_slider_movie.title }}"/>
                                <a href="{{ index_slider_movie.get_absolute_url }}" class="text-decoration-none"><h2>{{ index_slider_movie.title }}</h2></a>
                              <h5>{{ index_slider_movie.world_premiere.year }},
                                  {% for director in index_slider_movie.directors.all %}
                                    {{ director }}
                                  {% endfor %}
                              </h5>
                              <span class="minutes">125 min</span>
                                {% for genre in index_slider_movie.categories.all|slice:":2" %}
                                    <p class="type">{{ genre }}</p>
                                {% endfor %}
                            </div>
                            <div class="movie_desc">
                                {% if index_slider_movie.description is not None %}
                                    <p class="text">{{ index_slider_movie.description|truncatechars:300 }}</p>
                                {% endif %}
                            </div>
                            <div class="movie_social">
                                  <ul>
                                    <li><a href="#" class="btn btn-outline-warning btn-sm mb-3">Трейлер</a></li>
                                    <li><a href="#" class="btn btn-success btn-sm border-0 mb-3">Cмотерь на Wink</a></li>
                                    <li><a href="#" class="btn btn-kp btn-sm mb-3">Cмотерь на Кинопоиск</a></li>
                                  </ul>
                            </div>
                          </div>
                      </div>
                      <div class="blur_back" style='background-image: url({{ index_slider_movie.movieshots_set.first.image.url }});'></div>
                    </div>
                 </div>
                 {% endfor %}
            </div>
    </section>
    <!-- content -->
    <section class="container">
            <!-- category -->
            <div class="row main-category">
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
                    <a href="#" class="stretched-link">
                        <i class="fas fa-history fa-2x d-block mx-auto fa-fw mb-3"></i>
                        Ожидаемые фильмы
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
                    <a href="#" class="stretched-link">
                        <i class="fas fa-bullhorn fa-2x d-block mx-auto fa-fw mb-3"></i>
                         Недавние Премьеры
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
                    <a href="#" class="stretched-link">
                        <i class="far fa-heart fa-2x d-block mx-auto fa-fw mb-3"></i>
                        Интересное Сегодня
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
                    <a href="#" class="stretched-link">
                        <i class="fas fa-stream fa-2x d-block mx-auto fa-fw mb-3"></i>
                        Свежие Серьялы
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
                    <a href="#" class="stretched-link">
                        <i class="fas fa-star fa-2x d-block mx-auto fa-fw mb-3"></i>
                        Фильмы Месяца
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
                    <a href="#" class="stretched-link">
                        <i class="far fa-newspaper fa-2x d-block mx-auto fa-fw mb-3"></i>
                        Анонсы и статьи
                    </a>
                </div>
            </div>
            <!-- премьеры 8 шт -->
            <div class="row mb-4 align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <a href="#" class="title-section">
                        <i class="fas fa-ticket-alt mr-2 text-warning"></i>
                        Скоро Премьеры
                    </a>
                </div>
            </div>
            <div class="row mb-2 row-cols-sm-3 row-cols-lg-3 row-cols-xl-4  row-cols-2">
                {% for movie_premiere in movie_premieres %}
                    <div class="col mb-4">
                        <div class="card card-movie">
                            <div class="poster">
                                <img src="{{movie_premiere.poster.url}}" alt="{{ movie_premiere.title }}">
                            </div>

                            <div class="premier">
                              <span>{{ movie_premiere.world_premiere }}</span>
                            </div>

                            <div class="details">
                                <a href="{{ movie_premiere.get_absolute_url }}" class="title text-decoration-none"><h2>{{ movie_premiere.title }}</h2></a>
                                {% for director in movie_premiere.directors.all %}
                                    <a href="{{director.get_absolute_url}}" class="director text-decoration-none"><span>{{director}}</span></a>
                                {% endfor %}

                                <div class="tags">
                                    {% for genre in movie_premiere.categories.all|slice:":2" %}
                                        <a href="{{genre.get_absolute_url}}"><span class="badge badge-success">{{ genre.title }}</span></a>
                                    {% endfor %}
                                </div>

                                <div class="hover-derails p-0 m-0">
                                  <div class="info">
                                    {% if movie_premiere.description is not None %}
                                        <p>{{ movie_premiere.description|truncatechars:180 }}</p>
                                    {% endif %}
                                  </div>

                                  <div class="star">
                                  {% if movie_premiere.actors.all.exists %}
                                    <h4>Актеры</h4>
                                    <ul>
                                        {% for actor in movie_premiere.actors.all %}
                                            <li><a href="{{actor.get_absolute_url}}" title="{{actor.full_name}}"><img src="{{ actor.image.url }}" alt="{{actor.full_name}}"></a></li>
                                        {% endfor %}
                                    </ul>
                                  {% endif %}
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mb-4">
                <div class="col-auto mx-auto">
                    <a href="{% url 'movies_list' 'future-premieres' %}" class="btn btn-outline-warning">Смотреть все</a>
                </div>
            </div>
            <!-- сейчас в кино -->
            <div class="row mb-4 align-items-center">
                <div class="col-auto">
                    <a href="#" class="title-section">
                       Сейчас в кино
                    </a>
                </div>
                <div class="col">
                    <div class="line mt-2"></div>
                </div>
            </div>
            <div class="row mb-4 slider-movies p-0 mx-auto col-12">
                {% for cinema_movie in movies_now_in_cinema %}
                    <div class=" item-movie border-0">
                        <div class="card card-movie">
                            <div class="poster">
                                <img src="{{ cinema_movie.poster.url }}" alt="{{ cinema_movie.title }}">
                            </div>

                            <div class="details">
                                <a href="{{cinema_movie.get_absolute_url}}" class="title text-decoration-none"><h2>{{ cinema_movie.title }}</h2></a>
                                {% for director in cinema_movie.directors.all %}
                                    <a href="{{director.get_absolute_url}}" class="director text-decoration-none"><span>{{director}}</span></a>
                                {% endfor %}

                                <div class="tags">
                                    {% for genre in cinema_movie.categories.all|slice:":2" %}
                                        <a href="{{genre.get_absolute_url}}"><span class="badge badge-success">{{ genre.title }}</span></a>
                                    {% endfor %}
                                </div>

                                <div class="hover-derails p-0 m-0">
                                  <div class="info">
                                    {% if cinema_movie.description is not None %}
                                        <p>{{ cinema_movie.description|truncatechars:150 }}</p>
                                    {% endif %}
                                  </div>

                                  <div class="star">
                                    {% if cinema_movie.actors.all.exists %}
                                    <h4>Актеры</h4>
                                    <ul>
                                        {% for actor in cinema_movie.actors.all %}
                                            <li><a href="{{actor.get_absolute_url}}" title="{{actor.full_name}}"><img src="{{ actor.image.url }}" alt="{{actor.full_name}}"></a></li>
                                        {% endfor %}
                                    </ul>
                                  {% endif %}
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Новинки 16 шт -->
            <div class="row mb-4 align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <a href="#" class="title-section">
                        <i class="fab fa-youtube mr-2 text-warning"></i>
                        Новинки
                    </a>
                </div>
            </div>
            <div class="row mb-2 row-cols-sm-3 row-cols-lg-3 row-cols-xl-4  row-cols-2">
                {% for new_movie in new_movies %}
                    <div class="col mb-4">
                        <div class="card card-movie">
                            <div class="poster">
                                <img src="{{ new_movie.poster.url }}" alt="{{ new_movie.title }}">
                            </div>

                            <div class="rating">
                                {% if new_movie.rating_imdb is not None %}
                                    <div class="imsp" title="IMDb">
                                        <i class="fab fa-imdb"></i>
                                        <label class="pl-1 m-0">{{ new_movie.rating_imdb }}</label>
                                    </div>
                                {% endif %}

                                {% if new_movie.rating_kp is not None %}
                                    <div class="kpsp" title="Kinopoisk">
                                        <span class="kp_sp"></span>
                                        <label class="m-0">{{ new_movie.rating_kp }}</label>
                                    </div>
                                {% endif %}
                             </div>

                            <div class="year text-white bg-success">
                                {{ new_movie.world_premiere.year }}
                            </div>

                            <div class="details">
                                <a href="{{new_movie.get_absolute_url}}" class="title text-decoration-none"><h2>{{ new_movie.title}}</h2></a>
                                <a href="#" class="director text-decoration-none">
                                    {% for director in new_movie.directors.all %}
                                        <a href="{{director.get_absolute_url}}" class="director text-decoration-none"><span>{{director}}</span></a>
                                    {% endfor %}
                                </a>

                                <div class="tags">
                                    {% for genre in new_movie.categories.all|slice:":2" %}
                                        <a href="{{genre.get_absolute_url}}"><span class="badge badge-success">{{ genre.title }}</span></a>
                                    {% endfor %}
                                </div>

                                <div class="hover-derails p-0 m-0">
                                  <div class="info">
                                    {% if new_movie.description %}
                                        <p>{{ new_movie.description|truncatechars:150 }}</p>
                                    {% endif %}
                                  </div>

                                  <div class="star">
                                    {% if new_movie.actors.all.exists %}
                                        <h4>Актеры</h4>
                                        <ul>
                                            {% for actor in new_movie.actors.all %}
                                                <li><a href="{{actor.get_absolute_url}}" title="{{actor.full_name}}"><img src="{{ actor.image.url }}" alt="{{actor.full_name}}"></a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mb-4">
                <div class="col-auto mx-auto">
                    <a href="" class="btn btn-outline-warning">Смотреть все</a>
                </div>
            </div>
            <!-- подборки -->
            <div class="row mb-4 align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <a href="#" class="title-section">
                        <i class="fas fa-thumbtack mr-2 text-warning"></i>
                        Интересные подборки
                    </a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 slider-collections card-deck p-0 mx-auto">
                    <div class="item-collections card border-0">
                        <div class="item-inner-collection">
                            <img src="https://images.iptv.rt.ru/images/bmkqakdoldaup73kblqg.jpg?height=480&width=752&progressive=true" class="card-img" alt="...">
                            <div class="card-img-overlay text-white">
                                <a href="#" class="title text-decoration-none"><h2>Фильмы про путешествия</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-collections card border-0">
                        <div class="item-inner-collection">
                            <img src="https://images.iptv.rt.ru/images/bp6m10jmgcjaev0mn9sg.jpg?height=480&width=752&progressive=true" class="card-img" alt="...">
                            <div class="card-img-overlay text-white">
                                <a href="#" class="title text-decoration-none"><h2>Фильмы про футбол</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-collections card border-0">
                        <div class="item-inner-collection">
                            <img src="https://images.iptv.rt.ru/images/bq1mvqrmgcj81mvmof3g.jpg?height=480&width=752&progressive=true" class="card-img" alt="...">
                            <div class="card-img-overlay text-white">
                                <a href="#" class="title text-decoration-none"><h2>Обоятельные плохиши</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-collections card border-0">
                        <div class="item-inner-collection">
                            <img src="https://images.iptv.rt.ru/images/bpv4ipjmgcj81mvmoedg.jpg?height=480&width=752&progressive=true" class="card-img" alt="...">
                            <div class="card-img-overlay text-white">
                                <a href="#" class="title text-decoration-none"><h2>Историческое кино</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-collections card border-0">
                        <div class="item-inner-collection">
                            <img src="https://images.iptv.rt.ru/images/bnodeu5oldasi4kc2fb0.jpg?height=480&width=752&progressive=true" class="card-img" alt="...">
                            <div class="card-img-overlay text-white">
                                <a href="#" class="title text-decoration-none"><h2>Фантастические миры</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-collections card border-0">
                        <div class="item-inner-collection">
                            <img src="https://images.iptv.rt.ru/images/bpot58jmgcj8jo300170.jpg?height=480&width=752&progressive=true" class="card-img" alt="...">
                            <div class="card-img-overlay text-white">
                                <a href="#" class="title text-decoration-none"><h2>Когда все дома</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-collections card border-0">
                        <div class="item-inner-collection">
                            <img src="https://images.iptv.rt.ru/images/bogp9cbmgcjfs8pf0aug.jpg?height=480&width=752&progressive=true" class="card-img" alt="...">
                            <div class="card-img-overlay text-white ">
                                <a href="#" class="title text-decoration-none"><h2>Истории о принцессах</h2></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Популярные фильмы 16 шт -->
            <div class="row mb-4 align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <a href="#" class="title-section">
                        <i class="fas fa-star mr-2 text-warning"></i>
                        Популярные фильмы
                    </a>
                </div>
            </div>
            <div class="row mb-2 row-cols-sm-3 row-cols-lg-3 row-cols-xl-4  row-cols-2">
                {% for popular_movie in popular_movies %}
                    <div class="col mb-4">
                        <div class="card card-movie">
                            <div class="poster">
                                <img src="{{ popular_movie.poster.url }}" alt="{{ popular_movie.title }}">
                            </div>

                            <div class="rating">
                                {% if popular_movie.rating_imdb is not None %}
                                    <div class="imsp" title="IMDb">
                                        <i class="fab fa-imdb"></i>
                                        <label class="pl-1 m-0">{{ popular_movie.rating_imdb }}</label>
                                    </div>
                                {% endif %}

                                {% if popular_movie.rating_kp is not None %}
                                    <div class="kpsp" title="Kinopoisk">
                                        <span class="kp_sp"></span>
                                        <label class="m-0">{{ popular_movie.rating_kp }}</label>
                                    </div>
                                {% endif %}
                             </div>

                            <div class="year text-white bg-success">
                                {{ popular_movie.world_premiere.year }}
                            </div>

                            <div class="details">
                                <a href="{{popular_movie.get_absolute_url}}" class="title text-decoration-none"><h2>{{ popular_movie.title}}</h2></a>
                                <a href="#" class="director text-decoration-none">
                                    {% for director in popular_movie.directors.all %}
                                        <a href="{{director.get_absolute_url}}" class="director text-decoration-none"><span>{{director}}</span></a>
                                    {% endfor %}
                                </a>

                                <div class="tags">
                                    {% for genre in popular_movie.categories.all|slice:":2" %}
                                        <a href="{{genre.get_absolute_url}}"><span class="badge badge-success">{{ genre.title }}</span></a>
                                    {% endfor %}
                                </div>

                                <div class="hover-derails p-0 m-0">
                                  <div class="info">
                                    {% if popular_movie.description is not None %}
                                        <p>{{ popular_movie.description|truncatechars:150 }}</p>
                                    {% endif %}
                                  </div>

                                  <div class="star">
                                    {% if popular_movie.actors.all.exists %}
                                        <h4>Актеры</h4>
                                        <ul>
                                            {% for actor in popular_movie.actors.all %}
                                                <li><a href="{{actor.get_absolute_url}}" title="{{actor.full_name}}"><img src="{{ actor.image.url }}" alt="{{actor.full_name}}"></a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            <div class="row mb-4">
                <div class="col-auto mx-auto">
                    <a href="" class="btn btn-outline-warning">Смотреть все</a>
                </div>
            </div>
            <!-- Популярные серьялы 16 шт -->
            {% if popular_series.exists %}
                <div class="row mb-4 align-items-center">
                    <div class="col-lg-5 col-xl-5">
                        <a href="#" class="title-section">
                            <i class="fas fa-star mr-2 text-warning"></i>
                            Популярные сериалы
                        </a>
                    </div>
                </div>
                <div class="row mb-2 row-cols-sm-3 row-cols-lg-3 row-cols-xl-4  row-cols-2">
                    {% for popular_serial in popular_series %}
                        <div class="col mb-4">
                            <div class="card card-movie">
                                <div class="poster">
                                    <img src="{{ popular_serial.poster.url }}" alt="{{ popular_serial.title }}">
                                </div>

                                <div class="rating">
                                    {% if popular_serial.rating_imdb is not None %}
                                        <div class="imsp" title="IMDb">
                                            <i class="fab fa-imdb"></i>
                                            <label class="pl-1 m-0">{{ popular_serial.rating_imdb }}</label>
                                        </div>
                                    {% endif %}

                                    {% if popular_serial.rating_kp is not None %}
                                        <div class="kpsp" title="Kinopoisk">
                                            <span class="kp_sp"></span>
                                            <label class="m-0">{{ popular_serial.rating_kp }}</label>
                                        </div>
                                    {% endif %}
                                 </div>

                                <div class="year text-white bg-success">
                                    {{ popular_serial.world_premiere.year }}
                                </div>

                                <div class="details">
                                    <a href="{{popular_serial.get_absolute_url}}" class="title text-decoration-none"><h2>{{ popular_serial.title}}</h2></a>
                                    <a href="#" class="director text-decoration-none">
                                        {% for director in popular_serial.directors.all %}
                                            <a href="{{director.get_absolute_url}}" class="director text-decoration-none"><span>{{director}}</span></a>
                                        {% endfor %}
                                    </a>

                                    <div class="tags">
                                        {% for genre in popular_serial.categories.all|slice:":2" %}
                                            <a href="{{genre.get_absolute_url}}"><span class="badge badge-success">{{ genre.title }}</span></a>
                                        {% endfor %}
                                    </div>

                                    <div class="hover-derails p-0 m-0">
                                      <div class="info">
                                        {% if popular_serial.description is not None %}
                                            <p>{{ popular_serial.description|truncatechars:150 }}</p>
                                        {% endif %}
                                      </div>

                                      <div class="star">
                                        {% if popular_serial.actors.all.exists %}
                                            <h4>Актеры</h4>
                                            <ul>
                                                {% for actor in popular_serial.actors.all %}
                                                    <li><a href="{{actor.get_absolute_url}}" title="{{actor.full_name}}"><img src="{{ actor.image.url }}" alt="{{actor.full_name}}"></a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mb-4">
                    <div class="col-auto mx-auto">
                        <a href="" class="btn btn-outline-warning">Смотреть все</a>
                    </div>
                </div>
            {% endif %}
            <!-- Рекламный блок в будущем -->
            <!-- Главные новости  на всех общий -->
            <div class="row mb-4 align-items-center">
                <div class="col-auto">
                    <a href="#" class="title-section">
                        Главное
                    </a>
                </div>
                <div class="col">
                    <div class="line mt-2"></div>
                </div>
            </div>
            <div class="row mb-2 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4  row-cols-2">
                <div class="col mb-4 card-news">
                    <div class="card">
                        <img src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="card-title text-decoration-none h6 stretched-link">15 зрелищных фильмов, которые стоит смотреть на большом экране домашнего кинопроектора</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">16.05.2020</small>
                        </div>
                    </div>
                </div>
                <div class="col mb-4 card-news">
                    <div class="card">
                        <img src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" class="card-img-top object-cover object-center" alt="...">
                        <div class="card-body">
                            <a href="#" class="card-title text-decoration-none h6 stretched-link">15 зрелищных фильмов, которые стоит смотреть на большом экране домашнего кинопроектора</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">16.05.2020</small>
                        </div>
                    </div>
                </div>
                <div class="col mb-4 card-news">
                    <div class="card">
                        <img src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" class="card-img-top object-cover object-center" alt="...">
                        <div class="card-body">
                            <a href="#" class="card-title text-decoration-none h6 stretched-link">15 зрелищных фильмов, которые стоит смотреть на большом экране домашнего кинопроектора</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">16.05.2020</small>
                        </div>
                    </div>
                </div>
                <div class="col mb-4 card-news">
                    <div class="card">
                        <img src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" class="card-img-top object-cover object-center" alt="...">
                        <div class="card-body">
                            <a href="#" class="card-title text-decoration-none h6 stretched-link">15 зрелищных фильмов, которые стоит смотреть на большом экране домашнего кинопроектора</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">16.05.2020</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-auto mx-auto">
                    <a href="" class="btn btn-outline-warning">Читать все новости</a>
                </div>
            </div>
        </section>
{% endblock %}




