{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content_extra %}

    {% if user.is_authenticated %}
    
        {% include "account/snippets/already_logged_in.html" %}
        {% block content %} {% endblock %}
    
    {% else %}
        <div class="d-flex flex-column">
            <h3 class="h3" id="head_banner">{% trans "Password Reset" %}</h3>
            <p class="forgot_password_info px-5" >{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" class="text-center my-3" id="forgot_password_form" action="{% url 'account_reset_password' %}">
            {% csrf_token %}

            <div class="form-group">
              {% if form.email.errors %}
                <div class="alert alert-warning mx-3">{{ form.email.errors }}</div>
              {% endif %}

              <input type="email" name="email" size="30" placeholder="E-mail адрес" required="" id="id_email" class="form-control">
              <i class="fa fa-user"></i>
            </div>
            <button class="btn float-none" type="submit">{% trans 'Reset My Password' %}</button>
            </form>

            <p class="forgot_password_info px-5 pt-3">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

        </div>
    {% endif %}

{% endblock %}
