{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block head_links %} 

<title>The Test</title>

{% endblock %}

{% block content %}
<h3 class="h3" id="head_banner">{% trans "Sign Up" %}</h3>
<div class="social">
     <a id="vk_login" class="circle vk" href="#">
        <i class="fa fa-vk fa-fw"></i>
     </a>
     <a id="facebook_login" class="circle facebook" href="#">
         <i class="fa fa-facebook fa-fw"></i>
     </a>

{#    {% load account socialaccount %}#}
{#    {% get_providers as socialaccount_providers %}#}
{#    {% for provider in socialaccount_providers %}#}
{#        <a title="{{provider.name}}" class="circle {{provider.name}}"#}
{#         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">#}
{#            <i class="fa fa-{{provider.name}} fa-fw" id="social_icon"></i>#}
{#        </a>#}
{#    {% endfor %}#}
</div>

<div class="division">
 <div class="line l"></div>
 <span>Или</span>
 <div class="line r"></div>
</div>

 {% block messages %}
 <div class="error">
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible  mx-3" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
 </div>
{% endblock %}

{% if form.non_field_errors %}
    <div class="alert alert-warning mx-3">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            &times;
        </button>
        {{ form.non_field_errors }}
    </div>
{% endif %}
<form class="" id="signup_form" method="post" action="{% url 'account_signup' %}">
{% csrf_token %}
<div class="form-group">
  {% if form.email.errors %}
    <div class="alert alert-warning mx-3">{{ form.email.errors }}</div>
  {% endif %}
  <input type="email" name="email" placeholder="E-mail адрес" required="" id="id_email" class="form-control">
  <i class="fa fa-envelope"></i>
</div>

<div class="form-group">
  {% if form.username.errors%}
    <div class="alert alert-warning mx-3">{{ form.username.errors }}</div>
  {% endif %}
  <input type="text" name="username" placeholder="Имя пользователя" autofocus="autofocus" minlength="5" maxlength="150" required="" id="id_username" class="form-control">
  <i class="fa fa-user"></i>
</div>

<div class="form-group help">
  {% if form.password1.errors %}
    <div class="alert alert-warning mx-3">{{ form.password1.errors }}</div>
  {% endif %}
    <input type="password" name="password1" placeholder="Пароль" required="" id="id_password1" class="form-control">
    <i class="fa fa-lock"></i>
    <a class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="helper on bottom"></a>
</div>

<div class="form-group help">
  {% if form.password2.errors %}
    <div class="alert alert-warning mx-3">{{ form.password1.errors }}</div>
  {% endif %}
    <input type="password" name="password2" placeholder="Пароль (ещё раз)" required="" id="id_password2" class="form-control">
    <i class="fa fa-lock"></i>
    <a class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="helper on bottom"></a>
</div>

<div class="form-group">
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button type="submit" class="btn btn-default">{% trans "Sign Up" %}</button>
</div>
</form>

<div class="d-flex flex-column mt-3 exist_account_info">
  <span>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</span>
</div>
  

{% endblock %}
