<!-- footer content -->
<div class="container">
    <div class="row py-4 ">
        <div class="footer-info col-12 col-xl-3">
            <span>&copy; 2020</span>
            <a href="/" class="footer-link text-decoration-none ml-2">Search Movies</a>
            <span class="badge ml-1">18+</span>
        </div>
        <div class="footer-links col-12 col-xl-6 d-xl-flex justify-content-xl-center">
            <a href="#" class="footer-link text-decoration-none mr-2">Реклама</a>
            <a href="#" class="footer-link text-decoration-none mr-2">Блог</a>
            <a href="#" class="footer-link text-decoration-none mr-2">О проекте</a>
        </div>
        <div class="social-media col-12 col-xl-3 d-xl-flex justify-content-xl-end">
            <a href="#" class="footer-link text-decoration-none mr-2"><i class="fab fa-vk"></i></a>
            <a href="#" class="footer-link text-decoration-none mr-2"><i class="fab fa-telegram"></i></a>
        </div>
    </div>
</div>