{% load movie_tag %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand brand" href="/"><strong>S</strong>earch <strong>M</strong>ovies</a>

    <!-- кнопка поиска для мобильных в navbar -->
    <div class="col d-flex flex-row-reverse d-lg-none">
       <a class="nav-link" data-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
           <i class="fa fa-search search-icon"></i>
       </a>
    </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
        <!-- фильмы -->
      <li class="nav-item active dropdown mr-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-film fa-fw mr-2"></i>
          Фильмы
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="d-lg-flex dropdown-menu-content">
                <div>
                    <div class="dropdown-divider mt-0"></div>
                    <h6 class="dropdown-header">Жанры</h6>
                    <div class="dropdown-divider"></div>
                    <div style="height: 88%; overflow-y: auto;">
                    {% get_genres as genres %}
                    {% for genre in genres %}
                        <a class="dropdown-item" href="{{ genre.get_absolute_url }}">{{ genre|title }}</a>
                    {% endfor %}
                    </div>
                </div>
                <div>
                    <div class="dropdown-divider mt-0"></div>
                    <h6 class="dropdown-header">По годам</h6>
                    <div class="dropdown-divider"></div>
                    <div style="height: 88%; overflow-y: auto;">
                    {% get_years as years %}
                    {% for year in years %}
                        <a class="dropdown-item" href="{% url 'movies_years_list' year=year %}">{{ year }}</a>
                    {% endfor %}
                    </div>
                </div>
                <div>
                    <div class="dropdown-divider mt-0"></div>
                    <h6 class="dropdown-header">По странам</h6>
                    <div class="dropdown-divider"></div>
                    <div style="height: 88%; overflow-y: auto;">
                    {% get_countries as countries %}
                    {% for country in countries %}
                        <a class="dropdown-item" href="{% url 'movies_country_list' country=country %}">{{ country }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
      </li>
        <!-- сериалы -->
      <li class="nav-item active mr-2">
          <a class="nav-link" href="#">
              <i class="fas fa-ellipsis-h fa-fw mr-2"></i>
              Сериалы
          </a>
      </li>
        <!-- новинки -->
      <li class="nav-item active mr-2">
          <a class="nav-link" href="{% url 'new-movies-series' %}">
              <i class="far fa-grin-hearts fa-fw mr-2"></i>
              Новинки
          </a>
      </li>
        <!-- топ -->
      <li class="nav-item active dropdown mr-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fire fa-fw mr-2"></i>
          Топ
        </a>
        <div class="dropdown-menu dropdown-menu-top" aria-labelledby="navbarDropdown">
            <div class="dropdown-divider mt-0"></div>
            <a class="dropdown-item dropdown-header" href="#">
                <i class="fas fa-fire mr-1"></i>
                По годам
            </a>
            <a class="dropdown-item dropdown-header" href="{% url 'russian-classics' %}">
                <i class="fas fa-fire mr-1"></i>
                Российская класика
            </a>
            <a class="dropdown-item dropdown-header" href="{% url 'foreign-classics' %}">
                <i class="fas fa-fire mr-1"></i>
                Зарубежная класика
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'by-rating-kp' %}">По Рейтингу Кинопоиск</a>
            <a class="dropdown-item" href="{% url 'by-rating-imdb' %}">По Рейтингу IMDb</a>
            <a class="dropdown-item" href="#">Топ фильмы</a>
            <a class="dropdown-item" href="#">Топ Сериалы</a>
            <a class="dropdown-item" href="{% url 'cartoon' %}">Топ Мультфильмы</a>
        </div>
      </li>
        <!-- случайный фильм -->
      <li class="nav-item active">
          {% get_random_movie_or_series as random_movie_or_series %}
          <a class="nav-link random-film" href="{{random_movie_or_series.get_absolute_url}}">
            <i class="fas fa-dice fa-fw mr-1"></i>
            Случайный фильм
          </a>
      </li>
    </ul>

    <ul class="navbar-nav">
       <!-- collapse форма поиска -->
      <li class="nav-item mr-3 d-none d-lg-block">
          <a class="nav-link" data-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
              <i class="fa fa-search search-icon"></i>
          </a>
      </li>
        <!-- login -->
        {% if user.is_authenticated %}
            <!-- для декстопа -->
        <li class="nav-item active drop d-none d-lg-block">
          <div class="d-flex">
          <div class="user-avatar">
              <img src="{{ user.profile.avatar.url }}">
          </div>
            <a class="nav-link text-white" href="">{{ user.username }}</a>
          </div>

          <div class="triangle"></div>
          <div class="dropdownContain">
            <div class="dropOut">
              <ul>
                <li><a aria-hidden="true" href="{% url 'accounts_profile' %}"> Профиль</a></li>
                {% if user.is_superuser %}
                <li><a aria-hidden="true" href="{% url "admin:index" %}"> Админ панель</a></li>
                {% endif %}
                <li><a aria-hidden="true" href="{% url 'accounts_profile_favorites' %}"> Избранное</a></li>
                <li><a aria-hidden="true" href="{% url 'accounts_profile_settings' %}">Настройки</a> </li>
                <li><a aria-hidden="true" href="{% url 'account_logout' %}"> Выйти</a> </li>
              </ul>
            </div>
          </div>
        </li>
         <!-- для мобильных -->
         <li class="nav-item active mr-2 d-lg-none">
              <a class="nav-link" href="{% url 'accounts_profile' %}">
                  <i class="fas fa-user-circle fa-fw mr-2"></i>
                  Профиль
              </a>
         </li>

         <li class="nav-item active mr-2 d-lg-none">
              <a class="nav-link" href="{% url 'account_logout' %}">
                  <i class="fas fa-sign-out-alt fa-fw mr-2" aria-hidden="true"></i>
                  Выйти
              </a>
         </li>

        {% else %}
       <li class="nav-item active">
          <a class="nav-link" href="{% url 'account_login' %}">Войти</a>
        </li>
        {% endif %}

      </ul>
  </div>
</nav>
<!-- collapse форма поиска -->
<section class="container">
   <div class="row justify-content-center">
       <div class="col-lg-8 col-xl-8 col-12 col-md-12">
           <div class="collapse" id="collapseSearch">
               <div class="card-body border-0 nav-search">
                   <form class="search-form">
                      <input type="search" value="" placeholder="Фильмы, Сериалы, Персоны, Подборки" class="search-input">
                      <button type="submit" class="search-button">
                        <svg viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                        </svg>
                      </button>

                      <div class="search-option">
                        <div>
                          <input name="type" type="radio" value="type-members" id="type-members">
                          <label for="type-members">
                            <svg viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                            </svg>
                            <span>Персоны</span>
                          </label>
                        </div>

                        <div>
                          <input name="type" type="radio" value="type-movies" id="type-movies" checked>
                          <label for="type-movies">
                            <svg viewBox="0 0 16 16" class="bi bi-film" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0h8v6H4V1zm8 8H4v6h8V9zM1 1h2v2H1V1zm2 3H1v2h2V4zM1 7h2v2H1V7zm2 3H1v2h2v-2zm-2 3h2v2H1v-2zM15 1h-2v2h2V1zm-2 3h2v2h-2V4zm2 3h-2v2h2V7zm-2 3h2v2h-2v-2zm2 3h-2v2h2v-2z"/>
                            </svg>
                            <span>Фильмы</span>
                          </label>
                        </div>

                        <div>
                          <input name="type" type="radio" value="type-collection" id="type-collection">
                          <label for="type-collection">
                            <svg viewBox="0 0 16 16" class="bi bi-collection-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M1.5 14.5A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zm5.265-7.924A.5.5 0 0 0 6 7v5a.5.5 0 0 0 .765.424l4-2.5a.5.5 0 0 0 0-.848l-4-2.5zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                            </svg>
                            <span>Подборки</span>
                          </label>
                        </div>
                      </div>

                    </form>
               </div>
           </div>
       </div>
   </div>
</section>