<div class="row mb-4 align-items-center">
    <div class="col-auto">
        <a href="#" class="title-section">
            Главное
        </a>
    </div>
    <div class="col">
        <div class="line mt-2"></div>
    </div>
</div>
<div class="row mb-2 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4  row-cols-2">
    <div class="col mb-4 card-news">
        <div class="card">
            <img src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="#" class="card-title text-decoration-none h6 stretched-link">15 зрелищных фильмов, которые стоит смотреть на большом экране домашнего кинопроектора</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">16.05.2020</small>
            </div>
        </div>
    </div>
    <div class="col mb-4 card-news">
        <div class="card">
            <img src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" class="card-img-top object-cover object-center" alt="...">
            <div class="card-body">
                <a href="#" class="card-title text-decoration-none h6 stretched-link">15 зрелищных фильмов, которые стоит смотреть на большом экране домашнего кинопроектора</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">16.05.2020</small>
            </div>
        </div>
    </div>
    <div class="col mb-4 card-news">
        <div class="card">
            <img src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" class="card-img-top object-cover object-center" alt="...">
            <div class="card-body">
                <a href="#" class="card-title text-decoration-none h6 stretched-link">15 зрелищных фильмов, которые стоит смотреть на большом экране домашнего кинопроектора</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">16.05.2020</small>
            </div>
        </div>
    </div>
    <div class="col mb-4 card-news">
        <div class="card">
            <img src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" class="card-img-top object-cover object-center" alt="...">
            <div class="card-body">
                <a href="#" class="card-title text-decoration-none h6 stretched-link">15 зрелищных фильмов, которые стоит смотреть на большом экране домашнего кинопроектора</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">16.05.2020</small>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-auto mx-auto">
        <a href="" class="btn btn-outline-warning">Читать все новости</a>
    </div>
</div>