.title-section, .title-section:hover{
    text-decoration: none;
    color: #fff;
    font-size: 1.75em;
    font-weight: 500;
}

 div.line {
    height: 0.1rem;
    width: 100%;
    background-color: #ffc107;
}

.card-movie {
  border: none;
  border-radius: 1rem;
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
  /*max-width: 250px;*/
  max-height: 21.875rem;
  min-height: 15.625rem;
  transition: all 0.5s;
}

.card-movie .poster {
  position: relative;
  overflow: hidden;
}

.card-movie .poster:before {
  content: "";
  position: absolute ;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 50%, transparent 100%);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.card-movie:hover .poster:before {
  bottom: 0;
}

.card-movie:hover {
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.card-movie .poster img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.card-movie:hover .poster img {
    filter: blur(2px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}

.details {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 90%;
  bottom: -50%;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.card-movie:hover .details {
  bottom: 0;
}

.details .title h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}

.details .director span {
  font-size: 0.875em;
  color: #ffc107;
}


.tags {
  position: relative;
  margin-top: 0.3rem;
}

.info {
  color: #fff;
}

.info p {
  margin: .94rem 0 0.62rem;
  font-size: .75em;
}

.star {
  position: relative;
}

.star h4 {
  margin: 0;
  padding: 0;
  font-size: 1.25em;
  color: #ffc107;
}

.star ul {
  margin: 0.62rem 0 0;
  padding: 0;
  display: flex;
}

.star ul li {
  list-style: none;
  width: 2.188rem;
  height: 2.188rem;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
  border: 1px solid #fff;
}

.star ul li img {
  width: 100%;
    object-fit: cover;
    object-position: center;
}

.premier {
  position: absolute;
  top: 3%;
  border-radius: 0 .3rem .3rem 0;
  padding: 0 5px;
  background: #ffc107;
  box-shadow: -1px 2px 3px rgba(0,0,0,.3);
}

.rating {
    position: absolute;
    top: 3%;
    border-radius: 0 .3rem .3rem 0;
    padding: 0 5px;
    background: rgba(0,0,0,.6);
}

.year {
    position: absolute;
    top: 3%;
    right: 0;
    border-radius: .3rem 0 0 .3rem;
    padding: 0 5px;
}

.imsp {
    color: #ffc107;
    font-size: 1em;
    display: inline-block;
    margin-right: 10px;
}

.kpsp {
    font-size: 1em;
    color: #ec5b29;
    display: inline-block;
}

.kp_sp {
    background: url(../img/kp_sp.png) no-repeat 0 0;
    background-size: 1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-bottom: 0.313rem;
}

.hover-derails {
  display: none;
}

.card-movie:hover .details .hover-derails{
  display: block;
}

@media screen and (min-width: 1024px){
    .card-movie{
        min-height: 21.875rem;
    }
}

@media (max-width: 576px) {
  .details {
    bottom: -40%;
  }

  .card-movie .poster:before {
    bottom: -10%;
  }
}

@media screen and (max-width: 768px){
    .card {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px){
    .star {
        display: none;
    }

    .card-movie:hover {
       transform: none;
    }
}

