/* main */
.main-category {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: .5rem;
    background-color: #0d0c11;
    box-sizing: border-box;
}

.main-category div {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    box-sizing: border-box;
    max-height: 10rem;
}

.main-category div:hover{
    background-color: #ffc107;
    border-radius: .5rem;
}

.main-category a{
    color: #fff;
    text-decoration: none;
}

.main-category div:hover a {
    color: #0d0c11;
}

/* slider collections */
.item-collections {
    background: none;
}
.item-inner-collection {
  position: relative;
  height: 200px;
  background: none;
  overflow: hidden;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.item-inner-collection img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.item-inner-collection:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 20%, transparent 100%);
    transition: 0.5s;
    z-index: 0;
}

.item-inner-collection .title h2 {
  color: #fff;
  font-size: 1.4em;
}

.item-inner-collection .title {
    position: absolute;
    bottom: 10%;
}

.item-inner-collection:hover {
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}


/* /slider collections */

/* news */
    .card-news .card {
        background-color: #0d0c11;
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.4s;
    }

    .card-news .card img{
      max-height: 14rem;
      object-fit:cover;
      object-position:center;
       border-radius: 1rem 1rem 0 0;
    }

    .card-news .card-footer {
        background-color: #0d0c11;
        border: 0;
        border-radius: 0 0 1rem 1rem;
    }

    .card-news .card:hover {
        transform: scale(1.03);
    }

    .card-news .card .card-title {
        color: #fff;
    }

    .card-news .card:hover .card-title {
        color: #ffc107;
    }
/* /news */

/* /main */



/* media */

@media (max-width: 1024px) {

    .fa-play {
        font-size: 4rem;
    }
}

.loading {
    display: flex;
}

