@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    background-color: #16151a;
    line-height: 1.3;
}

/* header style */
header {
    background-color: rgba(19, 18, 23, 0.8);
    min-height: 3.75rem;
}

.dropdown-menu-content{
    max-height: 500px;
    width: auto;
}

@media (max-width: 1024px) {
   .dropdown-menu-content{
    overflow: auto;
    height: 50vh;
    }
    .dropdown-menu-top{
        overflow: auto;
        height: 30vh;
    }
}

.card-body {
    background: none;
}

/*.navbar-brand strong{*/
/*    font-size: 32px;*/
/*    color: #e5bc55;*/
/*}*/

.brand {
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item {
    font-size: 1.125em;
}

.search-icon{
    color: #fff;
}

#filter-search{
    padding-left: 2rem;
    padding-right: 2rem;
}

.dropdown-header {
    font-style: normal;
    color: #be4a3e;
}

.dropdown-item:hover {
    background-color: #ffc107;
    color: #000000;
}

.btn-search {
    top: 1.3rem;
    right: 1.5rem;
}

.btn-search-mob {
    top: 0;
    right: 1rem;
}

/* main */

.btn-kp {
    background-color: #ec5b29;
    border: none;
    color: #fff;
}

 .btn-kp:hover {
     background-color: #ec441e;
     color: #fff;
 }

.btn-kp:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(236, 91, 41, 0.36);
}

.main-category {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: .5rem;
    background-color: #0d0c11;
    box-sizing: border-box;
}

.main-category div {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    box-sizing: border-box;
    max-height: 10rem;
}

.main-category div:hover{
    background-color: #ffc107;
    border-radius: .5rem;
}

.main-category a{
    color: #fff;
    text-decoration: none;
}

.main-category div:hover a {
    color: #0d0c11;
}

.title-section, .title-section:hover{
    text-decoration: none;
    color: #fff;
    font-size: 1.75em;
    font-weight: 500;
}

/* slider collections */
.item-collections {
    background: none;
}
.item-inner-collection {
  position: relative;
  height: 200px;
  background: none;
  overflow: hidden;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.item-inner-collection img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.item-inner-collection:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 20%, transparent 100%);
    transition: 0.5s;
    z-index: 0;
}

.item-inner-collection .title h2 {
  color: #fff;
  font-size: 1.4em;
}

.item-inner-collection .title {
    position: absolute;
    bottom: 10%;
}

.item-inner-collection:hover {
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

button.slick-next, button.slick-next:hover {
  position: absolute;
  top: 50%;
  right: -3.5%;
  width: 2rem;
  height: 2.5rem;
  background-image: url('../img/right-arrow.svg');
  background-size: 2.5rem;
  background-repeat: no-repeat;
}
button.slick-prev, button.slick-prev:hover {
  position: absolute;
  top: 50%;
  left: -5%;
  z-index: 1;
  width: 2rem;
  height: 2.5rem;
  background-image: url('../img/left-arrow.svg');
  background-size: 2.5rem;
  background-repeat: no-repeat;

}
.slick-prev:before, .slick-next:before {
    content: '';
}
/* /slider collections */

/* news */
    div.line {
        height: 0.1rem;
        width: 100%;
        background-color: #ffc107;
    }
    .card-news .card {
        background-color: #0d0c11;
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.4s;
    }

    .card-news .card img{
      max-height: 14rem;
      object-fit:cover;
      object-position:center;
       border-radius: 1rem 1rem 0 0;
    }

    .card-news .card-footer {
        background-color: #0d0c11;
        border: 0;
        border-radius: 0 0 1rem 1rem;
    }

    .card-news .card:hover {
        transform: scale(1.03);
    }

    .card-news .card .card-title {
        color: #fff;
    }

    .card-news .card:hover .card-title {
        color: #ffc107;
    }
/* /news */

.item-movie {
    background: none;
}

.item-movie .card-movie {
    margin: 0 0.5rem;
}

.item-movie .card-movie:hover {
    transform: none;
}
/* /main */

/* footer */
footer {
    background-color: #0d0c11;
}

.footer-info span {
    opacity: .4;
    color: #fff;
}

.footer-link {
    opacity: .4;
    color: #fff;
}

.footer-link:hover{
    color: #fff;
    opacity: 1;
}


/* /footer */

/* media */

@media (max-width: 1024px) {

    .footer-info, .footer-links, .social-media {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    .slider-card {
        width: 100vw;
    }

    .fa-play {
        font-size: 4rem;
    }
}

@media (min-width: 1024px) {

    .navbar-brand {
        font-size: 2em;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 4px;
    }

    .nav-item {
        color: #fff;
        position: relative;
        transition: color .3s ease;
    }

    .nav-item::after {
        --scale: 0;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        height: 0.188rem;
        background: #ffc107;
        transform: scaleX(var(--scale));
        transition: transform .3s cubic-bezier(.535, .05, .355, 1);
    }

    .nav-item:hover::after {
        --scale: 1;
    }

}

@media (min-width: 860px) and (max-width: 1024px) {
        .nav-item .random-film {
            display: none;
        }
}

.loading {
    display: flex;
}

