* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
      outline: none;
}

body {
  background-color: #16151a;
  color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

}

.person:hover{
  color: #feb52b;
}

@media (max-width: 1400px) {
  .wrapper {
  margin-top: 3.75rem;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.content {
  flex: 1 0 auto;
  position: relative; }
  .content.fixed-overflow {
    position: fixed;
    overflow: hidden; }

  .breadcrumbs {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  margin-bottom: 8px; }

.breadcrumbs__item {
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 24px; }

a.breadcrumbs__href {
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 1;
  border-bottom: 1px solid currentColor;
  transition: all .5s ease;
  box-sizing: border-box;
  display: inline-block; }
  a.breadcrumbs__href:hover {
    color: #aaaaaa; }

.movie__title-text h1 {
  font-size: 6rem;
}

@media (min-width: 768px) and (max-width: 1200px){
  .movie__title-text h1 {
  font-size: 3rem;
}
  .movie_social{
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 1919.97px) {
  .breadcrumbs {
    margin-bottom: 16px; }
  .breadcrumbs__item,
  a.breadcrumbs__href {
    font-size: 16px; } }

@media only screen and (max-width: 1439.97px) {
  .breadcrumbs {
    margin-bottom: 16px; } }

@media only screen and (max-width: 1023.97px) {
  .breadcrumbs {
    margin-bottom: 8px; }
  .breadcrumbs__item,
  a.breadcrumbs__href {
    font-size: 14px; } }

@media only screen and (max-width: 767.97px) {
  .breadcrumbs {
    margin-bottom: 8px; }
  .breadcrumbs__item,
  a.breadcrumbs__href {
    font-size: 12px; }
  .movie__description{
   margin-bottom: 0;
  padding-bottom: 0;
  }
}

@media only screen and (max-width: 767.97px) {
  .breadcrumbs {
    margin-bottom: 8px; }
  .breadcrumbs__item,
  a.breadcrumbs__href {
    font-size: 10px; } }

.movie__wrapper {
  background-color: #16151a; }

.movie__bg {
  width: 100%;
  max-height: 860px;
  overflow: hidden;
  position: relative; }

.movie__bg-image {
  width: 100%;
  height: auto;
  display: block; }

.movie__bg-shade {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(30, 31, 35, 0) 0%, #16151a 80%);
  width: 100%;
  height: 660px;
  bottom: 0;
  left: 0;
  z-index: 1; }

.movie__left-shade {
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to left, rgba(30, 31, 35, 0) 0%, #16151a 98%);
  width: 860px;
  height: 100%;
  left: 0;
  top: 0; }

.movie__header {
  position: absolute;
  bottom: 190px;
  padding: 0 80px;
  z-index: 2;
  box-sizing: border-box;
margin-bottom: 3rem;}


.movie__original-title {
  display: flex;
  margin-bottom: 24px;
  opacity: 0.8; }

.movie__original-title_text {
  font-size: 18px;
  line-height: 1;
  font-family: 'PT Sans', sans-serif;
  margin-right: 24px; }

.movie__original-title_image {
  height: 24px; }
  .movie__original-title_image img {
    display: block;
    height: 100%; }

.movie__seasons {
  display: flex;
  align-items: center; }

.movie__seasons-title {
  font-size: 18px;
  line-height: 24px;
  font-family: 'PT Sans', sans-serif;
  padding-right: 24px; }

.movie__seasons-items {
  display: flex; }

.movie__seasons-item {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
  font-family: "circeBold", sans-serif;
  cursor: pointer;
  margin-right: 12px;
  box-sizing: border-box;
  transition: all linear 0.2s; }
  .movie__seasons-item:hover {
    opacity: 1;
    border: 1px solid rgba(255, 255, 255, 0.6); }
  .movie__seasons-item.active {
    background-color: #feb52b;
    border-color: #feb52b;
    color: #111113; }

.movie__play {
  display: flex;
  align-items: center; }

.movie__play-button {
  margin-right: 60px;
  height: 56px;
  cursor: pointer;
  display: flex;
  align-items: center; }
  .movie__play-button:hover .movie__play-button_text {
    opacity: 1; }
  .movie__play-button:hover img {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }

.movie__play-button_icon {
  margin-right: 16px; }
  .movie__play-button_icon img {
    display: block;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear; }

.movie__play-button_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 0.2s linear; }

.movie__play-button_title {
  font-size: 24px;
  color: #feb52b;
  line-height: 24px;
  font-family: 'PT Sans', sans-serif; }

.movie__play-button_plain {
  font-size: 14px;
  line-height: 16px;
  font-family: 'PT Sans', sans-serif;
  opacity: 0.8;
  margin-top: 8px; }

.movie__play-mind {
  width: 96px;
  height: 58px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity linear 0.2s; }
  .movie__play-mind img {
    transition: -webkit-transform linear 0.2s;
    transition: transform linear 0.2s;
    transition: transform linear 0.2s, -webkit-transform linear 0.2s; }
  .movie__play-mind:hover {
    opacity: 1; }
    .movie__play-mind:hover img {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1); }

.movie__play-favorites_in {
  color: #565c67; }

.movie__play-favorites_img {
  width: 32px;
  height: 32px;
  margin-bottom: 6px;
  margin: 0 auto; }
  .movie__play-favorites_img img {
    display: block;
    width: 100%; }

.movie__play-vote_img {
  height: 36px;
  margin-bottom: 6px;
  margin: 0 auto;
  display: flex; }
  .movie__play-vote_img img {
    display: block;
    height: 100%;
    width: auto; }

.movie__play-text {
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap; }

.movie__content {
  padding: 0 80px;
  position: relative;
  z-index: 3;
  margin-top: -160px; }

.movie__title {
  display: flex;
  font-size: 50px;
  margin-bottom: 32px;
  justify-content: space-between;
  width: 100%;
  align-items: center; }

.movie__title-buttons {
  width: 49%; }

.movie__title-text{
  line-height: 48px;
  color: #fff;
  /*margin-bottom: 3rem;*/
   }


.movie__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
  padding-bottom: 20px; }

.movie__description-data.no-trailer {
  width: 100%; }

.movie__description-trailer {
  width: 50%;
  flex-shrink: 0;
  /*margin-right: 80px; */
}

.movie__description-trailer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px; }

.movie__description-trailer_title {
  font-size: 1.5rem;
  font-family: 'PT Sans', sans-serif; }

.movie__description-trailer_subtitle {
  font-size: 20px;
  line-height: 29px;
  opacity: .4;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  cursor: pointer; }

.movie__description-trailer_video {
  position: relative;
  width: 100%;
  height: auto;
  background-image: linear-gradient(-180deg, rgba(17, 17, 19, 0) 0%, rgba(17, 17, 19, 0.5) 100%);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden; }

.movie__description-trailer_image {
  display: block;
  height: auto;
  width: 100%; }

.movie__description-trailer_play {
  position: absolute;
  width: 80px;
  height: 80px;
  cursor: pointer;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  transition: -webkit-transform linear 0.2s;
  transition: transform linear 0.2s;
  transition: transform linear 0.2s, -webkit-transform linear 0.2s; }
  .movie__description-trailer_play:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }

.movie__description-trailer_desciption {
  position: absolute;
  bottom: 11px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
  align-items: center; }

.movie__description-trailer_desciption-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  line-height: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 24px;
  text-shadow: 1px 1px 2px black; }

.movie__description-trailer_desciption-duration {
  font-size: 24px;
  line-height: 29px;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 1px 1px 2px black; }

.movie__description-data_header {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  margin-top: 1rem;
}

.movie__description-rating {
  display: flex;
  align-items: center;
  margin-right: 56px; }

.movie__description-rating_item {
  display: flex;
  align-items: center;
  margin-right: 16px; }
  .movie__description-rating_item:last-child {
    margin-right: 0; }

.movie__description-rating_text {
  font-size: 18px;
  line-height: 22px;
  opacity: .4;
  color: #fff;
  padding-left: 8px;
  font-family: 'PT Sans', sans-serif; }

.movie__description-additional {
  display: flex;
  align-items: center; }

.movie__description-additional_item {
  font-size: 18px;
  line-height: 22px;
  font-family: 'PT Sans', sans-serif;
  margin-right: 16px;
  opacity: .4;
  color: #fff; }
  .movie__description-additional_item:last-child {
    margin-right: 0; }

.movie__description-data_text {
  flex-grow: 0;
  flex-shrink: 0; }

.movie__description-additional_no-trailer {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  .movie__description-additional_no-trailer .movie__description-data_text {
    width: 50%;
    padding-right: 80px;
    margin-bottom: 0; }

.movie__episodes {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 40px; }
  .movie__episodes .video-line {
    margin: 16px -80px 8px; }
  .movie__episodes.seasons-episodes .video-line {
    margin: 16px 0 8px;
    padding: 0; }
  .movie__episodes .card-item__title {
    font-size: 16px;
    line-height: 23px;
    padding-top: 6px; }

.movie__episodes-title {
  display: inline-block;
  font-family: 'PT Sans', sans-serif; }

.movie__episodes-length {
  display: inline-block;
  margin-left: 24px;
  font-size: 36px;
  line-height: 53px;
  opacity: 0.6; }

.movie__recommendations {
  margin: 0 -80px; }
  .movie__recommendations .video-line {
    margin-bottom: 0; }

.movie__recommendations-title {
  padding-left: 80px;
  font-size: 24px;
  line-height: 24px;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 16px; }

.movie__about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px; }

.movie__data {
  width: 47.5%; }

.movie__data-title {
  font-size: 36px;
  line-height: 53px;
  margin-bottom: 8px; }

.movie__data-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 236px auto;
  grid-template-columns: 236px auto;
  grid-gap: 8px; }
  .movie__data-wrapper.description-persons {
    -ms-grid-columns: 130px auto;
    grid-template-columns: 130px auto; }

.movie__data-col_title {
  opacity: .4;
  color: #fff;
}

@media (max-width: 500px) {
  .movie__bg-image{
    height: 230px;
  }
}

@media only screen and (min-width: 1920px) {
  .movie__content {
    padding: 0 100px; }
  .movie__header {
    padding: 0 100px; }
  .movie__description-data_text,
  .movie .description-persons {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px; }
  .movie__recommendations {
    margin: 0 -100px; }
  .movie__episodes .video-line {
    margin: 16px -100px 40px; }
  .movie__episodes-title {
    font-size: 36px;
    line-height: 1.4; }
  .movie__recommendations-title {
    padding-left: 100px; }
  .movie__original-title_image {
    height: 18px; } }

@media (min-width: 1440px) and (max-width: 1919px) {
  .movie__content {
    padding: 0 80px; }
  .movie__episodes .video-line {
    margin: 16px -80px 8px; }
  .movie__episodes .swiper-container {
    padding: 0 80px; }
  .movie__recommendations .swiper-container {
    padding: 0 80px; }
  .movie__description-data_text,
  .movie .description-persons {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px; }
  .movie__episodes-title {
    font-size: 36px;
    line-height: 1.4; }
  .movie__original-title_image {
    height: 18px; } }

@media (min-width: 1024px) and (max-width: 1439px) {
  .movie__header {
    padding: 0 60px;
    bottom: 96px; }
  .movie__content {
    padding: 0 60px;
    margin-top: -72px; }
  .movie__description-data_text,
  .movie .description-persons {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 24px; }
  .movie__logo {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 8px; }
  .movie__original-title {
    display: flex;
    margin-bottom: 24px; }
  .movie__original-title_text {
    font-size: 18px;
    line-height: 1;
    margin-right: 40px; }
  .movie__original-title_img img {
    display: block; }
  .movie__seasons {
    margin-bottom: 0; }
  .movie__seasons-title {
    font-size: 18px;
    line-height: 28px; }
  .movie__seasons-item {
    width: 26px;
    height: 26px;
    font-size: 16px;
    line-height: 28px;
    margin-right: 8px; }
  .movie__play-button_title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 2px; }
  .movie__play-button_plain {
    font-size: 12px;
    line-height: 16px;
    margin-top: 0; }
  .movie__play-button_icon {
    margin-right: 8px; }
    .movie__play-button_icon img {
      width: 36px; }
  .movie__play-button {
    margin-right: 40px;
    height: 36px; }
  .movie__play-mind {
    height: 42px;
    width: 80px; }
    .movie__play-mind img {
      width: 24px;
      height: 24px; }
  .movie__play-favorites_img {
    width: 24px;
    margin-bottom: 2px; }
  .movie__play-text {
    font-size: 12px;
    line-height: 16px; }
  .movie__play-text_set {
    opacity: 0.2; }
  .movie__title {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 32px; }
  .movie__title-text {
    width: 100%; }
  .movie__description-trailer {
    margin-right: 60px; }
  .movie__description-trailer_title {
    font-size: 20px;
    line-height: 20px; }
  .movie__description-trailer_header {
    margin-bottom: 16px; }
  .movie__description-trailer_subtitle {
    font-size: 14px;
    line-height: 20px; }
  .movie__description-rating {
    margin-right: 24px; }
  .movie__description-rating_text {
    font-size: 16px;
    line-height: 24px; }
  .movie__description-rating_a {
    width: 22px; }
  .movie__description-rating_i {
    width: 34px; }
  .movie__description-rating_k {
    width: 24px; }
  .movie__data-col_title {
    font-size: 14px;
    line-height: 20px; }
  .movie__data-col {
    font-size: 14px;
    line-height: 20px; }
  .movie__description-trailer_video {
    height: auto; }
  .movie__description-trailer_play {
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px; }
  .movie__description-trailer_desciption-title {
    font-size: 20px;
    line-height: 29px; }
  .movie__description-trailer_desciption-duration {
    font-size: 20px; }
  .movie__data-title {
    font-size: 24px;
    line-height: 35px; }
  .movie__episodes-title {
    font-size: 20px;
    line-height: 20px; }
  .movie__recommendations-title {
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px; }
  .movie__description {
    margin-bottom: 36px; }
  .movie__episodes {
    margin-bottom: 20px; }
    .movie__episodes .video-line {
      margin-left: -60px;
      margin-right: -60px; }
  .movie__recommendations {
    margin-left: -60px;
    margin-right: -60px; }
  .movie__original-title_image {
    height: 16px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .movie__header {
    bottom: 100px;
    padding: 0 24px; }
  .movie__content {
    padding: 0 24px;
  }

  .container_comment{
    margin: 0 24px;
    padding: 0;
  }
  .movie__bg-shade{
    height: 80%;
  }
  .movie__episodes {
    margin-bottom: 20px; }
    .movie__episodes .video-line {
      margin-left: -24px;
      margin-right: -24px;
      margin-top: 0px; }
  .movie__logo {
    width: 20vw; }
    .movie__logo img {
      max-width: 100%; }
  .movie__episodes-title {
    font-size: 20px; }

  .movie__title-text h1{
      font-size: 3rem;
    }
  .movie__description-trailer {
    margin-right: 40px; }
  .movie__description-trailer_title {
    font-size: 1.3rem;
 }
  .movie__description-trailer_desciption-duration {
    font-size: 16px;
    line-height: 1.4; }
  .movie__description-data_text,
  .movie .description-persons {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px; }
  .movie__recommendations {
    margin-left: -24px;
    margin-right: -24px; }
  .movie__recommendations-title {
    padding-left: 24px;
    font-size: 20px;
    margin-bottom: 8px; }
  .movie__original-title_text {
    font-size: 14px;
    line-height: 1; }
  .movie__original-title_image {
    height: 14px; }
  .movie__play-button_title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 2px; }
  .movie__play-button_plain {
    font-size: 12px;
    line-height: 16px;
    margin-top: 0; }
  .movie__play-button_icon {
    margin-right: 8px; }
    .movie__play-button_icon img {
      width: 36px; }
  .movie__play-button {
    margin-right: 40px;
    height: 36px; }
  .movie__play-mind {
    height: 42px;
    width: 80px; }
    .movie__play-mind img {
      width: 24px;
      height: 24px; }
  .movie__play-favorites_img {
    width: 24px;
    margin-bottom: 2px; }
  .movie__play-text {
    font-size: 12px;
    line-height: 16px; }
  .movie__play-text_set {
    opacity: 0.2; } }

@media (max-width: 767px) {
  .movie__left-shade {
    display: none; }
  .movie__bg-shade {
    height: 100%; }
  .movie__header {
    width: 100%;
    bottom: 0;
    padding: 0 16px; }
  .movie__content {
    padding: 0 16px 24px 16px;
    margin-top: -3rem;
  }
  .container_comment{
    margin: 0 16px 24px 16px;
    padding: 0;
  }

  .movie__description-additional_no-trailer {
    flex-direction: column;
    margin: 16px 0;
    padding: 0; }
  .movie .movie__description-data_text {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
    padding: 0; }
  .movie .description-persons {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    -ms-grid-columns: 90px auto;
    grid-template-columns: 90px auto;
    margin-bottom: 16px; }
  .movie__original-title {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px; }
  .movie__original-title_text {
    font-size: 14px;
    line-height: 1; }
  .movie__original-title_image {
    height: 12px; }
  .movie__seasons-title {
    font-size: 14px;
    line-height: 20px;
    padding-right: 6px; }
  .movie__seasons-item {
    width: 28px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    margin-right: 4px; }
  .movie__description-trailer_title {
    font-size: 1.3em;
    font-weight: normal;
  }
  .movie__description-trailer_subtitle {
    display: none; }
  .movie__description-trailer_desciption {
    bottom: 7px;
    padding: 0 16px; }
  .movie__description-trailer_desciption-title {
    font-size: 12px;
    line-height: 17px; }

  .movie__description-trailer_desciption-duration {
    font-size: 12px;
    line-height: 15px; }
  .movie__description-additional {
    display: none; }
  .movie__title {
    flex-direction: column;
    margin-bottom: 10px; }
  .movie__title-text {
    width: 100%; }
    .movie__title-text h1{
      font-size: 1.5rem;
    }
    .movie__title-text.no-trailer {
      width: 100%; }
  .movie__title-buttons {
    width: 100%; }
  .movie__description-data, .movie__description-trailer {
    width: 100%; }
  .movie__play {
    margin-bottom: 12px; }
  .movie__play-favorites_img {
    width: 24px; }
  .movie__data-wrapper.description-persons {
    -ms-grid-columns: 110px auto;
    grid-template-columns: 110px auto;
    margin-bottom: 16px; }
  .movie__seasons {
    margin-bottom: 16px; }
  .movie__episodes {
    margin-bottom: 10px;
    padding-left: 0; }
    .movie__episodes .video-line {
      margin-left: -16px;
      margin-right: -16px;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 8px;
      padding-right: 8px; }
    .movie__episodes .card-item__title {
      font-size: 12px;
      line-height: 1;
      padding-top: 4px; }
  .movie__episodes-item {
    margin: 0; }
    .movie__episodes-item .swiper-container {
      padding: 0 8px; }
  .movie__episodes-title {
    padding-left: 0;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0; }
  .movie__recommendations {
    margin: 0; }
    .movie__recommendations .swiper-container {
      padding: 0 8px; }
    .movie__recommendations .video-line {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 8px;
      padding-right: 8px; }
  .movie__recommendations-title {
    padding-left: 0;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0px; }
  .movie__play-button {
    width: 124px;
    margin-right: 28px; }
  .movie__play-button_title {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 2px; }
  .movie__play-button_plain {
    font-size: 10px;
    line-height: 1;
    opacity: 0.8;
    margin-top: 0; }
  .movie__play-button_icon {
    width: 36px;
    height: 36px;
    margin-right: 8px; }
    .movie__play-button_icon img {
      display: block;
      width: 100%;
      height: auto; }
  .movie__play-share {
    display: none; }
  .movie__play-button_text {
    width: 80px;
    height: 36px; }
  .movie__play-text {
    font-size: 10px;
    line-height: 16px;
    opacity: 0.8; }
  .movie__play-mind {
    width: 64px;
    height: 42px;
    margin-left: 8px; }
    .movie__play-mind img {
      height: 26px;
      width: auto; }
  .movie__description-rating_text {
    font-size: 1rem;
    line-height: 15px; }
  .movie__description-rating_item {
    margin-right: 12px; }
  .movie__description-rating_a {
    width: 20px; }
  .movie__description-rating_i {
    width: 36px; }
  .movie__description-rating_k {
    width: 20px; } }

@media (max-width: 1024px) {
  .movie__description {
    flex-direction: column-reverse;
  }
}

.movie__vote {
  padding: 0 5px !important; }

.movie__play-text_set {
  opacity: 0.2; }

h3.roll-up, p.text-reveal {
  margin: 0;
  text-transform: uppercase;
}

h3.roll-up {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #fff;
  font-weight: bold;
}

.roll-up {
  overflow: hidden;
  position: relative;
}
.roll-up > span {
  display: inline-block;
  position: relative;
}
.roll-up > span:nth-child(1) {
  transition-delay: 0.03s;
}
.roll-up > span:nth-child(2) {
  transition-delay: 0.06s;
}
.roll-up > span:nth-child(3) {
  transition-delay: 0.09s;
}
.roll-up > span:nth-child(4) {
  transition-delay: 0.12s;
}
.roll-up > span:nth-child(5) {
  transition-delay: 0.15s;
}
.roll-up > span:nth-child(6) {
  transition-delay: 0.18s;
}
.roll-up > span:nth-child(7) {
  transition-delay: 0.21s;
}
.roll-up > span > span {
  display: inline-block;
  transition: 0.6s cubic-bezier(0.7, 0.01, 0.37, 1);
  transition-delay: inherit;
}
.roll-up > span > span:nth-child(1) {
  position: relative;
}
.roll-up > span > span:nth-child(2) {
  position: absolute;
  transform: translateY(100%);
  left: 0;
  color: #ffc107;
}

.text-reveal {
  position: relative;
  overflow: hidden;
}
.text-reveal span {
  display: block;
  transition: cubic-bezier(0.7, 0.01, 0.37, 1) 0.6s;
}
.text-reveal > span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}
.text-reveal > span:nth-child(2) > span {
  overflow: hidden;
  transform: translateX(-100%);
}
.text-reveal > span:nth-child(2) > span:nth-child(1) {
  transition-delay: 0.1s;
}
.text-reveal > span:nth-child(2) > span:nth-child(2) {
  transition-delay: 0.2s;
}
.text-reveal > span:nth-child(2) > span:nth-child(3) {
  transition-delay: 0.3s;
}
.text-reveal > span:nth-child(2) > span:nth-child(4) {
  transition-delay: 0.4s;
}
.text-reveal > span:nth-child(2) > span:nth-child(5) {
  transition-delay: 0.5s;
}
.text-reveal > span:nth-child(2) > span:nth-child(6) {
  transition-delay: 0.6s;
}
.text-reveal > span:nth-child(2) > span:nth-child(7) {
  transition-delay: 0.7s;
}
.text-reveal > span:nth-child(2) > span > span {
  transform: translateX(100%);
  transition-delay: inherit;
}

.play-button {
  display: inline-block;
  width: 70px;
  height: 70px;
  transition: 0.5s;
}
.play-button svg {
  overflow: visible;
}
.play-button .polygon {
  fill: #ffc107;
  transition: transform 0.5s, fill 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0.01, 0.37, 1);
  transform-origin: 50% 50%;
}

.card {
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 670px;
  width: 100%;
  max-height: 400px;
  min-height: 200px;
  height: 400px;
  padding: 20px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  background-size: cover;
  margin: 0 100px 60px 0;
}
.card:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}

@media (max-width: 767px) {
  .card {
    height: 200px;
  }
}

@media (min-width: 665px ) and (max-width: 1200px) {
  .card {
    height: 270px;
  }
}
@media (max-width: 1366px) {
  .card__content--description {
    display: None;
  }
}

.card .card__content {
  z-index: 1;
}
.card .card__content .card__content--description {
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-right: -80px;
  text-align: left;
  max-width: 175px;
}
.card:hover .play-button {
  transform: scale(1.1);
}
.card:hover .play-button .polygon {
  transform: translateZ(0px) rotate(90deg);
  fill: #ffc441;
}
.card:hover .roll-up > span > span:nth-child(1) {
  transform: translateY(-100%);
}
.card:hover .roll-up > span > span:nth-child(2) {
  transform: translateY(0);
}
.card:hover .text-reveal > span:nth-child(2) > span,
.card:hover .text-reveal > span:nth-child(2) > span > span {
  transform: translateX(0);
}

#trailer{
  align-items: center;
  justify-content: center;
  display: none;
  position: relative;
  max-width: 670px;
  width: 100%;
  max-height: 400px;
  min-height: 200px;
  height: 400px;
  padding: 20px;
  margin: 0 100px 60px 0;
}

#trailer > iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

@media screen and (max-width: 767px) {
  #trailer {
    height: 200px;
  }

  .movie__description{
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 665px ) and (max-width: 1200px) {
  #trailer {
    height: 270px;
  }
}

